$xgs-columns     : 12;
$xgs-column-width: 54px;
$xgs-gutter-width: 30px;

@import 'xgs/grid';

.grid {
    @include xgs-container;
}

@media screen and (min-width: 0px) {
    $xgs-grid-background: image-url('300gs-grid.png', false, false);
    $xgs-columns        : 8;
    $xgs-column-width   : 27px;
    $xgs-gutter-width   : 12px;

    .grid {
        @include xgs-container;
    }
}

@media screen and (min-width: 768px) {
    $xgs-grid-background: image-url('748gs-grid.png', false, false);
    $xgs-columns        : 12;
    $xgs-column-width   : 44px;
    $xgs-gutter-width   : 20px;

    .grid {
        @include xgs-container;
    }
}

@media screen and (min-width: 1002px) {
    $xgs-grid-background: image-url('978gs-grid.png', false, false);
    $xgs-columns        : 12;
    $xgs-column-width   : 54px;
    $xgs-gutter-width   : 30px;

    .grid {
        @include xgs-container;
    }
}

@media screen and (min-width: 1248px) {
    $xgs-grid-background: image-url('1218gs-grid.png', false, false);
    $xgs-columns        : 16;
    $xgs-column-width   : 48px;
    $xgs-gutter-width   : 30px;

    .grid {
        @include xgs-container;
    }
}

@media screen and (min-width: 1408px) {
    $xgs-grid-background: image-url('1378gs-grid.png', false, false);
    $xgs-columns        : 16;
    $xgs-column-width   : 58px;
    $xgs-gutter-width   : 30px;

    .grid {
        @include xgs-container;
    }
}
