// X Grid System

@import 'compass/utilities/general/float';
@import 'compass/utilities/general/clearfix';

// The number of columns.
$xgs-columns     : 12 !default;
// The width of a column.
$xgs-column-width: 54px !default;
// The amount of margin between columns.
$xgs-gutter-width: 30px !default;
// Whether to use the fluid grid system.
$xgs-fluid       : false !default;

// Mixin: Generates non-semantic classes for the grid system.
//
// @param Boolean $xgs-fluid Whether to use the fluid grid system.
@mixin xgs-grid($fluid: $xgs-fluid) {
    & {
        @include xgs-container($fluid);
        & .column {
            @include xgs-column-base;
        }
        @for $n from 1 to $xgs-columns {
            & .unit-#{$n} {
                width: xgs-unit($n);
            }
            & .column-#{$n} {
                @extend .column;
                @extend .unit-#{$n};
            }
        }
        & .unit-#{$xgs-columns} {
            width: xgs-unit($xgs-columns);
        }
        & .column-#{$xgs-columns} {
            @extend .column;
            @extend .unit-#{$xgs-columns};
            @extend .first;
        }
        & .first {
            @include xgs-first;
        }
        & #{enumerate('.push', 1, $xgs-columns - 1)} {
            @include xgs-push-base;
        }
        & #{enumerate('.pull', 1, $xgs-columns - 1)} {
            @include xgs-pull-base;
        }
        @for $n from 1 to $xgs-columns {
            & .prepend-#{$n} {
                @include xgs-prepend($n);
            }
        }
        @for $n from 1 to $xgs-columns {
            & .append-#{$n} {
                @include xgs-append($n);
            }
        }
        @for $n from 1 to $xgs-columns {
            & .push-#{$n} {
                @include xgs-push-margin($n);
            }
        }
        @for $n from 1 to $xgs-columns {
            & .pull-#{$n} {
                @include xgs-pull-margin($n);
            }
        }
    }
}

// Function: Returns the width of the container.
//
// @param Boolean $xgs-fluid Whether to use the fluid grid system.
@function xgs-container-width($fluid: $xgs-fluid) {
    @if $fluid {
        @return 100%;
    }
    @else {
        @return $xgs-column-width * $xgs-columns + $xgs-gutter-width * ($xgs-columns - 1);
    }
}

// Mixin: The declarations for the container.
//
// @param Boolean $xgs-fluid Whether to use the fluid grid system.
@mixin xgs-container($fluid: $xgs-fluid) {
    width: xgs-container-width($fluid);
    margin: auto;
    @include clearfix;
}

// Mixin: The declarations for the first column in a row.
@mixin xgs-first {
    margin-left: 0;
}

// Mixin: The base declarations for columns.
//
// @param Boolean $first Whether the column is the first column in a row.
@mixin xgs-column-base($first: false) {
    position: relative;
    @include float-left;
    @if $first {
        @include xgs-first;
    }
    @else {
        margin-left: $xgs-gutter-width;
    }
}

// Function: Returns the width of 'n' columns.
//
// @param Number $n The number of columns.
@function xgs-unit($n) {
    @return $xgs-column-width * $n + $xgs-gutter-width * ($n - 1);
}

// Mixin: The declarations for a column.
//
// @param Boolean $first Whether the column is the first column in a row.
@mixin xgs-column($n, $first: false) {
    @include xgs-column-base($first);
    width: xgs-unit($n);
}

// Mixin: The base declarations to push an element to the right.
@mixin xgs-push-base {
    position: relative;
}

// Mixin: The amount of the margin to push an element to the right.
//
// @param Number $n The number of columns.
@mixin xgs-push-margin($n) {
    left: $xgs-column-width * $n + $xgs-gutter-width * $n;
}

// Mixin: Moves an element to the 'n' columns right.
//
// @param Number $n The number of columns.
@mixin xgs-push($n) {
    @include xgs-push-base;
    @include xgs-push-margin($n);
}

// Mixin: The base declarations to pull an element to the left.
@mixin xgs-pull-base {
    position: relative;
}

// Mixin: The amount of the margin to push an element to the left.
//
// @param Number $n The number of columns.
@mixin xgs-pull-margin($n) {
    left: -$xgs-column-width * $n + -$xgs-gutter-width * $n;
}

// Mixin: Moves an element to the 'n' columns left.
//
// @param Number $n The number of columns.
@mixin xgs-pull($n) {
    @include xgs-pull-base;
    @include xgs-pull-margin($n);
}

// Mixin: Prepends 'n' empty columns to the left.
//
// @param Number $n The number of columns.
@mixin xgs-prepend($n) {
    padding-left: $xgs-column-width * $n + $xgs-gutter-width * $n;
}

// Mixin: Prepends 'n' empty columns to the right.
//
// @param Number $n The number of columns.
@mixin xgs-append($n) {
    padding-right: $xgs-column-width * $n + $xgs-gutter-width * $n;
}
