$xgs-show-grid      : true;
$xgs-grid-background: image-url('test/1378gs-grid.png', false, false);
$xgs-show-outline   : false;
$column-text        : #7c8e76;

@import 'xgs/1378gs';

.grid {
    @include xgs-grid;
}

.unit {
    margin-bottom: 1.5em;
    padding: 10px 0;
    border: $xgs-outline-width $xgs-outline-style $xgs-outline-color;
    color: $column-text;
    background: $xgs-outline-background-color;
    font-size: 70%;
    text-align: center;
}
