@import 'xgs/grid';

$xgs-show-outline: true;
$xgs-columns     : 12;
$xgs-column-width: 54px;
$xgs-gutter-width: 30px;
$xgs-fluid       : false;
$column-text     : #7c8e76;

.grid {
    background: white image-url('test/xgs-grid.png', false, false);
}

.unit {
    margin-bottom: 1.5em;
    padding: 10px 0;
    color: $column-text;
    font-size: 70%;
    text-align: center;
}

.test-default .grid {
    @include xgs-grid;
}

$xgs-outline-width           : 2px;
$xgs-outline-style           : dotted;
$xgs-outline-color           : #63cddc;
$xgs-outline-alpha           : .25;
$xgs-outline-background-color: #7ce6f6;
$xgs-outline-background-alpha: .1;

.test-customized .grid {
    @include xgs-grid;
}

