@import 'xgs/grid';

$xgs-columns     : 12;
$xgs-column-width: 54px;
$xgs-gutter-width: 30px;

.grid {
    @include xgs-container;
    height: 1024px;
    background: white image-url('test/978gs-grid.png', false, false);
}

@media screen and (min-width: 0px) {
    $xgs-columns     : 8;
    $xgs-column-width: 27px;
    $xgs-gutter-width: 12px;

    .grid {
        @include xgs-container;
        background: white image-url('test/300gs-grid.png', false, false);
    }
}

@media screen and (min-width: 768px) {
    $xgs-columns     : 12;
    $xgs-column-width: 44px;
    $xgs-gutter-width: 20px;

    .grid {
        @include xgs-container;
        background: white image-url('test/748gs-grid.png', false, false);
    }
}

@media screen and (min-width: 1002px) {
    $xgs-columns     : 12;
    $xgs-column-width: 54px;
    $xgs-gutter-width: 30px;

    .grid {
        @include xgs-container;
        background: white image-url('test/978gs-grid.png', false, false);
    }
}

@media screen and (min-width: 1248px) {
    $xgs-columns     : 16;
    $xgs-column-width: 48px;
    $xgs-gutter-width: 30px;

    .grid {
        @include xgs-container;
        background: white image-url('test/1218gs-grid.png', false, false);
    }
}

@media screen and (min-width: 1408px) {
    $xgs-columns     : 16;
    $xgs-column-width: 58px;
    $xgs-gutter-width: 30px;

    .grid {
        @include xgs-container;
        background: white image-url('test/1378gs-grid.png', false, false);
    }
}
